
body {
  font-size: 14px;
}


details summary::-webkit-details-marker {
  display:none;
}

$orange:#f75c49;

$gray:#ccc;

$cornflowerblue: #65a3be;

$dovegray: #707070;

.margin {
  &-side {
    margin-right: 4%;
    margin-left: 4%;
  }
}
a {
  text-decoration: none;
  color:$cornflowerblue;
}

.h2 {
  margin: 55px 0;
  font-size: 4em;
}

.color-orange {
  color:$orange
}

#logo {
  font-family: serif;
  color: white;
  font-stretch: expanded;
  font-weight: bold;
  font-size: 3em;
  text-shadow:
    -1px -1px 0 $orange,
    1px -1px 0 black,
    -1px 1px 0 $orange,
    1px 1px 0 black;
}

.button {
  border: 1px  solid $orange;
  color: $orange;
  background: white;
  padding: 15px 25px;
  font-weight: bold;
}
.search {
  display: flex;
  align-items: stretch;
  input{
    display: inline;
  }
}

input,
select,
textarea {
  border: 1px gray solid;
  margin-right: 1vw;
  padding-left: 5px;
  background: white;
}

.header {
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
  }

  &-separator {
    margin: 4vh auto;
    width: 50%;
    border-top: 1px black solid;
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  flex-wrap: wrap;
  &-item {
    margin-right: 4vw;
  }
}

.add-teacher-button {
  margin-left: auto;
  font-size: 1em;
}
.sort {
  &-down:after{
    content: '↓';
  }
  &-up:after {
    content: '↑'
  }
}
.top-teachers {

  &-filter {
    display: inline;
    &-container {
      text-align: left;
      margin: 2vh 0;
    }
    
    &-input {
      padding: 0 2vw;
      color: gray;
    }

    &-input:not(:first-child):before {
      content: '';
      border: 1px $gray dashed;
      position: relative;
      left: -2vw;
    }
  }

  &-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 5vw;
    &-card {
      position:relative;
      &-avatar {
        object-fit: cover;
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: $orange;
        width: 120px;
      }
      &-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
      }

      &-country {
        margin-top: 1vh;
        font-size: 0.8em;
      }

      &-name {
        font-size: 2em;
      }
    }
  }

  
}

#statistics {
  table {
    width: 100%;
    text-align: left;
    color:$dovegray;
    font-weight: lighter;
    thead {
      font-size: 1.7em;
      border-bottom: 1px solid black;
    }
    th{
      padding-bottom: 21px;
    }
    td,th{
      padding-left:21px;
    }
    tr {
      padding:15px 0;
    }

    td {
      font-size: 1.2em;
      padding-top: 1vh;
      padding-bottom: 1vh;
    }
    
    tr:nth-child(even) {
      background: #f9f5f9;
    }
    
    tr:nth-child(odd) {
      background: #fff;
    }  
  }
}

.pagination {
  margin: 3vh 0;
  display: flex;
  font-weight: lighter;
  &-item{
    margin: 0 10px 10px 0;
    &-link{
      color: $cornflowerblue;
    }
    &-selected {
      color:black;
    }
  }
}

.carousel {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 1fr 100px;
  &-control {
    background: none;
    border: none;
  }
  &-children{
    flex: 1;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5vw;
  }
}

#about {
  p {
    text-align: left;
    font-weight: lighter;
  }
}

footer {
  margin-bottom: 8px;
}


.popup{
  position: fixed;
  border: 1px black solid;
  padding: 2% 5%;
  background: white;
  box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.4);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 7%);
  overflow-y: auto;
  &-hidden {
    display: none;
  }
  &-close {
    border:none;
    background: transparent;
    position: absolute;
    top:10px;
    right:10px;
  }
  h2{
    font-size: 3em;
    margin: 20px 0;
  }
  
}

#teacher-add-form{
  display: flex;
  flex-direction: column;
  label{
    font-weight: lighter;
    font-size: 1em;
    text-align: left;

  }
  input,select{
    margin-top: 10px;
    font-weight: lighter;
    display: block;
    width:100%;
    border: 1px gray solid;
    font-size: 1em;
    padding: 10px 13px;
  }
  .input {
    &-radio {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 2fr 1fr 1fr;
      span {
        font-weight: lighter;
        text-align: left;
      }
      &-option {
        display: flex;
        input{
          margin: 0px 10px;
          height: 15px;
          width: 15px;
        }
       
      }  
    }
    &-color {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 3fr 1fr;
      input{
        margin: 0;
      }
    }
  }
}

.font-large {
  font-size: large;
}

.teacher-info {
  &-section {
    display: flex;
    width:800px;
    &-avatar {
      min-height: 300px;
      min-width: 300px;
    }
    &-summary {
      margin-left: 40px;
      width:100%;
      text-align: left;
      &-icon{
        float: right;
      }
      &-name {
        font-size: 3em;
      }
      &-contacts {
        margin-top: 60px;
        p {
          margin: 15px 0;
        }
      }
    }
  }

  &-comment {
    margin-top: 35px;
    text-align: left;
    color: $dovegray;
    line-height: 1.5em;
  }

  &-map-link {
    margin-top: 27px;
    text-align: left;
    &-summary {
      color:$cornflowerblue;
      text-decoration: underline dashed;
    }
  }
  
}


@media (max-width:768px) {
  body {
    margin: 0 4%;
  }
  .teacher-info {
    &-section{
      flex-direction: column;
      align-items: center;
      width: 400px;
    }
  }
  .carousel{
    &-children {
      grid-template-columns: repeat(2,1fr);
    }
  }
}